<!--<h1>Welcome to Confirm Page</h1>-->

<!--<h2>Please confirm your registraion Info</h2>-->

<!--<div>-->
<!--first name : {{person.firstName}}-->
<!--</div>-->
<!--<div>-->
<!--last name : {{person.lastName}}-->
<!--</div>-->
<!--<div>-->
<!--age: {{person.age}}-->
<!--</div>-->
<!--<div>-->
<!--mobile number : {{person.mobileNumber}}-->
<!--</div>-->
<!--<div>-->
<!--description : {{person.description}}-->
<!--</div>-->
<!--<div >-->
<!--  birth date : {{person.birthDate}}-->
<!--</div>-->
<!--<div >-->
<!--  shamsi birth date : {{person.birthDate | shamsiDatePipe}}-->
<!--</div>-->

<!--<div >-->
<!--  education : {{person.education.name}}-->
<!--</div>-->

<p-table [value]="personArray">
  <ng-template pTemplate="header">
    <tr>
      <th>نام</th>
      <th>نام خانوادگی</th>
      <th>سن</th>
      <th>شماره موبایل</th>
      <th>توضیحات</th>
      <th>تاریخ تولد</th>
      <th>تاریخ تولد شمسی</th>
      <th>تحصیلات</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-person>
    <tr>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.age}}</td>
      <td>{{person.mobileNumber}}</td>
      <td>{{person.description}}</td>
      <td>{{person.birthDate}}</td>
      <td>{{person.birthDate | shamsiDatePipe}}</td>
      <td>{{person.education.name}}</td>
    </tr>
  </ng-template>
</p-table>
